#headDiv {
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#TopOfPage {
    /*background-image: url(../img/black.png);*/
    background: url(../img/black.png);
    background-size: cover;
}