body {
    font-family: 'Montserrat', sans-serif;
}

#headDiv {
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.nav.navbar-nav li a:hover {
    color: #1abc9c;
}

#TopOfPage {
    /*background-image: url(../img/black.png);*/
    background: url(../img/black.png);
    /*background-size: cover;*/
}

@media screen and (min-width: 48em) {
    #introP {
        text-align: left;
    }
}

@media screen and (max-width: 47em) {
    #introP {
        text-align: center;
    }
}

hr.style-four {
    height: 12px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    width: 100%;
}

#introP h1 {
    color: #1abc9c;
}

.label {
    background-color: #1abc9c;
}

.subsection {
    display: block;
    overflow: auto;
}

.skillsTest li {
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    background: #1abc9c;
    padding: 4px 9px;
    list-style-type: none;
}

.experienceLevel li{
    list-style: none;
    display: inline;
}

.experience {
    background-color: #1abc9c;
}

input {
    padding: 12px 24px;
    font-size: 15px;
    font-family: futura;
    color: #000;
    margin: 0 20px 10px 0;
    border: none;
    background: rgba(0, 0, 0, .06);
    font-weight: 700;
    border-radius: 5px;
}

textarea {
    padding: 12px 24px;
    font-size: 15px;
    font-family: futura;
    color: #000;
    margin: 0 20px 10px 0;
    border: none;
    background: rgba(0, 0, 0, .06);
    font-weight: 700;
    border-radius: 5px;
}

.button {
    background-color: #FFF;
    color: #1abc9c;
    border-style: solid;
    border-width: 1px;
    border-color: #1abc9c #1abc9c;
}