ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}
@import url(https://fonts.googleapis.com/css?family=Oswald);

h1 {
    font-family: Oswald;
}

a {
    color: inherit;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1abc9c;
    color: black;
}

div h1 {
    text-align: center;
    font-size: 100px;
}

header {
    text-align: center;
    color: #fff;
    background-image: url(img/testimage.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    width: auto;
    overflow: hidden;
}


.steadyColumn {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-top: 4%;
    padding: 245px;
    padding: 20%;
    color: transparent;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
}